<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="sast.evento.mapper.EventModelMapper">
    <resultMap id="eventModelMap" type="sast.evento.model.EventModel">
        <id property="id" column="id"/>
        <result property="title" column="title"/>
        <result property="description" column="description"/>
        <result property="gmtEventStart" column="gmt_event_start"/>
        <result property="gmtEventEnd" column="gmt_event_end"/>
        <result property="gmtRegistrationStart" column="gmt_registration_start"/>
        <result property="gmtRegistrationEnd" column="gmt_registration_end"/>
        <result property="location" column="location_id"/>
        <result property="tag" column="tag"/>
        <result property="state" column="state" javaType="sast.evento.common.enums.EventState"
                typeHandler="sast.evento.common.enums.EventStateTypeHandler"/>
        <association property="eventType" javaType="sast.evento.entitiy.EventType">
            <id property="id" column="id"/>
            <result property="typeName" column="type_name"/>
            <result property="allowConflict" column="allow_conflict"/>
        </association>
        <collection property="departments" ofType="sast.evento.entitiy.Department">
            <id property="id" column="id"/>
            <result property="departmentName" column="department_name"/>
        </collection>
    </resultMap>

    <select id="selectEventModel" resultType="sast.evento.model.EventModel">
        SELECT e.id,
               e.title,
               e.description,
               e.gmt_event_start,
               e.gmt_event_end,
               e.gmt_registration_start,
               e.gmt_registration_end,
               e.tag,
               e.state,
               t.*,
               d.*
        FROM event AS e
                 JOIN
             type AS t ON e.type_id = t.id
                 LEFT JOIN
             event_department AS ed ON e.id = ed.event_id
                 LEFT JOIN
             department AS d ON ed.department_id = d.id
        WHERE e.id = #{eventId};
    </select>
</mapper>