<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="sast.evento.mapper.FeedbackModelMapper">

    <resultMap id="feedbackModelResultMap" type="sast.evento.model.FeedbackModel">
        <result property="id" column="id"/>
        <result property="content" column="content"/>
        <result property="score" column="score" typeHandler="sast.evento.common.typehandler.FeedbackScoreTypeHandler"/>
        <result property="eventId" column="event_id"/>
    </resultMap>
    <sql id="selectFrom">
        SELECT f.id, f.content, ROUND(f.score, 1) AS score, p.event_id AS event_id
        FROM feedback AS f
                 LEFT JOIN
             participate AS p ON f.participate_id = p.id
    </sql>

    <!--    用户获取自己的反馈列表-->
    <select id="getListByUserId" resultMap="feedbackModelResultMap">
        <include refid="selectFrom"/>
        WHERE f.user_id = #{userId}
    </select>

    <!--    获取活动反馈列表（该活动的所有人的反馈）-->
    <select id="getListByEventId" resultMap="feedbackModelResultMap">
        <include refid="selectFrom"/>
        WHERE p.event_id = #{eventId}
    </select>

    <!--    用户获取自己的对于某活动的反馈详情（可判断是否反馈）-->
    <select id="getFeedback" resultMap="feedbackModelResultMap">
        <include refid="selectFrom"/>
        WHERE f.user_id = #{userId} AND p.event_id = #{eventId}
    </select>

</mapper>