<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="sast.evento.mapper.ImageDOMapper">
    <select id="selectDirs" resultType="string">
        SELECT DISTINCT cos_dir FROM image
    </select>
</mapper>